main {
    padding: 12rem 7.81vw;
}

@media only screen and (max-width: 566px) {
  .home_section {
      text-align: center;
  }
}

.home_section {
  display: flex;
  align-items: center;
}


.welcome-message h1 span {
    display: block; /* Para que cada parte fique em uma linha separada */
    font-weight: normal;
    margin-bottom: 1.5rem;
}

.welcome-message h1 .menssage{
    font-family: var(--font-montserrat);
    color: var(--light-color);
    font-size: 2.6em;

}

.welcome-message h1 .menssage-name{
    font-family: var(--font-audiowide);
    color: var(--light-base-color);
    font-size: 4em;

}
.welcome-message h1 .menssage-profile{
    font-family: var(--font-montserrat);
    color: var(--light-color);
    font-size: 3.3em;

}

.links{
  display: flex;
  justify-content: space-between;
  
}

.links img {
    width: 2rem;
    overflow-clip-margin: content-box;
    overflow: clip;

}
.links .button_linkedin{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-items: center;
    background-color: #0A66C2;
    color: var(--light-color);
    font-size: 2em;
    width: 9rem;
    font-family: var(--font-dm-sans);
    height: 4rem;
    border-radius: 0.8rem;
    text-decoration: none;
    cursor: pointer;
}

.links .button_github{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--dark-base-color);
  border: 1px solid white;
  color: var(--light-color);
  font-size: 2em;
  width: 9rem;
  font-family: var(--font-dm-sans);
  height: 4rem;
  border-radius: 0.8rem;
  text-decoration: none;
  cursor: pointer;
}
