/* Section Home */
 
 @media only screen and (max-width: 566px) {
  .home_section {
     text-align: center;
  }
} 

/*Section About*/
@media only screen and (max-width: 886px) {
  .about_section .about_backgroud {
      display: flex;
      align-items: center;
      justify-items: center;
      flex-direction: column;
  }
  .about_backgroud .about_description{
    text-align: center;
  }
  .about_backgroud .about_illustration{
    text-align: center;
  }
}


.home_section {
  display: flex;
  align-items: center;
}

.home_section .triangle_background{
  width: 36%;
  position: absolute;
  top: 50px;
  right: 0px;
  z-index: -1;
}

.home_section .title_container {
  margin: 22% 7.81vw;
}
.title_container .title span {
  display: block; /* Para que cada parte fique em uma linha separada */
  font-weight: normal;
  margin-bottom: 1.2rem;
}

.title_container .title .title_menssage{
  font-family: var(--font-montserrat);
  color: var(--light-color);
  font-size: 2.6em;

}

.title_container .title .title_name{
  font-family: var(--font-audiowide);
  color: var(--light-base-color);
  font-size: 4em;

}
.title_container .title .title_profile{
  font-family: var(--font-montserrat);
  color: var(--light-color);
  font-size: 3.3em;
}

.title_container .links{
  margin-top: 2.4rem;
  display: flex;
  justify-content: space-between;
  
}

.title_container .links img {
  width: 2rem;
}

.links .button_linkedin, .links .button_github{
  display: flex;
  align-items: center;
  padding: 0.5rem;
  justify-content: space-evenly;
  width: 8rem;
  font-size: 1.6em;
  border-radius: 0.8rem;
  text-decoration: none;
  cursor: pointer;
  font-family: var(--font-dm-sans);

}
.title_container .links .button_linkedin{
  background-color: #0A66C2;
  color: var(--light-color);
  font-family: var(--font-dm-sans);
}

.title_container .links .button_github{
  background-color: var(--dark-base-color);
  border: 0.1rem solid var(--light-color);
  color: var(--light-color);
}

/* Section About */

.about_section{
  display: block;
}
.about_section .about_title{
  text-align: center;
  margin-bottom: 3rem;
}

.about_title h2 {
  color: var(--light-base-color);
  font-family: var(--font-audiowide);
  font-size: 3.3em;
  font-weight: normal;
}

.about_backgroud {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 7.81vw;
  background-color: rgba(56, 56, 56, 0.5);
  pointer-events: none;
  transform: skewY(-3deg);
  z-index: -1;

}

.about_illustration {
  flex: 1; /* Faz com que ocupe o espaço disponível */
  transform: skewY(3deg);
  min-width: 30%;
}

.about_backgroud .about_illustration img {
  border-left: 0.6rem solid var(--blue-color);
  transition: 0.4s;
  width: 76%;
}

.about_backgroud .about_description{
  flex: 2;
  margin-left: 2rem;
  color:var(--light-color);
  font-family: var(--font-dm-sans);
  transform: skewY(3deg);
  line-height: 1.5;
}

.about_backgroud .about_description h3{
  font-size: 1.8em;
  margin: 2rem 0;
}
.about_backgroud .about_description p{
  font-size: 1.6em;
  margin-bottom: 1.2rem;
}

.about_section .json_container{
  width: 100%;
  position: relative;
  bottom: 2rem;
  display: flex;
  justify-content: center;

}
.about_section .about_json{
  color: var(--light-color);
  font-family: var(--font-dm-sans);
  line-height: 1.5;
  font-size: 1.6em;
  background: var(--dark-color);
  padding: 2rem;
  border-radius: 1rem;
}

