:root {
    /* Colors */
    --dark-base-color: #303030;
    --dark-color: #383838;
    --light-base-color: #FEFEFE;
    --light-color: #F0F0F0;
    --blue-color: #6D83F2;

      /* Fonts */
    --font-dm-sans: "DM Sans", sans-serif;
    --font-audiowide: "Audiowide", sans-serif;
    --font-montserrat: "Montserrat Alternates", sans-serif;
}